#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    max-width: 400px;
}

#calendar div {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
}

#calendar .day-name {
    color: white;
    background-color: darkgrey;
}

#calendar .sunday {
    color: white;
    background-color: blue;
}

#calendar .saturday {
    color: white;
    background-color: lightblue;
}

#calendar .none {
    background-color: white;
}

#calendar .month-year {
    grid-column: span 5;
    text-align: center;
}

#calendar .today {
    color: white;
    background-color: red;
}
